$mainFontFamily: 'Poppins', sans-serif;
$headerBgColor:rgba(86,184,135,.06);
$headerPhotoBorderColor: #ffffff;
$headerDefaultTextColor:#fff;
$headerIconsBGColor:#ffffff31;
$defaultSectionBGColor: #fff;
$personInfoAboutMe:#9baab3;
$primaryColor: #000;
$secondaryColor: #555;
$statsNumberColor: #9baab3;
$progressBarBG:#ebeef2;
$progressBarColor: #56b887;
$timelineBigDotColor: #56b88771;